html , body{
    background-color: #ffffff;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
}
@keyframes moveText {
    0% {
        transform: scale(0.2);
        opacity: 1;
        top: 50%;
        left: 50%;
    }
    100% {
        transform: scale(1);
        top: 0;
        left: 1%;
        transform: translate(0, 0);
    }
}

#Header {
    color: rgb(30, 30, 30);
    transition: 0.5s ease-in;
    position: absolute;
    display: flex;
    transform : scale(0);
    justify-content: center;
    align-items: center;
    animation: moveText 2s forwards;
    font-family: "Playwrite NZ", cursive;
    left: 0; /* Add this line */
    z-index: 1;
}
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}
#Sidebar {
    opacity: 0;
    position: absolute;
    left: 0;
    width: 30vh;
    display: block; /* or flex */
    height: 100vh; /* adjust as needed */
    background-color: rgb(172, 172, 172);
    animation: fadeIn 2s forwards;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
#Sidebar.retracted {
    width: 0vh; /* adjust as needed */
}
#HeaderText {
    transition: 0.5s ease-in;
}


#BalanceTab{
    display: none;
    justify-content: space-between;
}

#BalanceTab button{
    background-color: #4CAF50; /* Green background */
    border: none; /* No border */
    color: white; /* White text */
    padding: 15px 32px; /* Some padding */
    text-align: center; /* Centered text */
    text-decoration: none; /* No underline */
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer; /* Mouse pointer on hover */
    transition-duration: 0.4s; /* Transition effect */
}

#BalanceTab button:hover {
    background-color: #45a049; /* Darker green on hover */
}